/* --------------------------------------------
    Button
 ---------------------------------------------- */

%btn {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 600;
  padding: 20px 30px;
  border-radius: 15px;
  @include transition;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  color: inherit;
}

.theme-btn {
  @extend %btn;
  border: 1px solid rgbaGenerate($black, 20%);
  .dark-bg & {
    border: 1px solid $dark;
    &:hover {
      color: $black;
    }
  }
  &:not(.btn_moveing_hover):hover {
    background-color: $theme-1;
    border: 1px solid rgbaGenerate($theme-1, 20%);
  }
}
.theme-btn-with-bg {
  @extend %btn;
  border: 1px solid $theme-1;
  background-color: $theme-1;
  color: $black;
  &:not(.btn_moveing_hover):hover {
    background-color: transparent;
    border: 1px solid rgbaGenerate($black, 20%);
    color: $dark;
  }
  &.theme-2-bg {
    border: 1px solid $theme-2;
    background-color: $theme-2;
    color: $white;
    &:hover {
      background-color: transparent;
      border: 1px solid $theme-2;
    }
  }
  &.dark-2-bg {
    border: 1px solid $dark-2;
    background-color: $dark-2;
    color: $white;
    &:hover {
      background-color: transparent;
      border: 1px solid $dark-2;
    }
  }
}

.theme-btn-2 {
  font-size: 18px;
}

.theme-btn-3 {
  @extend %btn;
  color: $theme-2;
  position: relative;
  padding: 15px 30px;
  &::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: rgbaGenerate($theme-2, 10%);
    position: absolute;
    top: 50%;
    left: 0px;
    border-radius: 30px;
    transform: translate(0%, -50%);
    transition: all 0.3s ease;
    .dark-bg & {
      background-color: rgbaGenerate($theme-2, 20%);
    }
  }
  &:hover {
    &::before {
      width: 100%;
      left: 0;
    }
  }
}

.btn-underline {
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $dark;
    transition: transform 0.25s ease-out;
    transform-origin: bottom left;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}

.btn_moveing_hover {
  position: relative;
  transition: all 0.2s ease;
  overflow: hidden;

  &:hover {
    border-color: $theme-1;

    span {
      transition-delay: 0s;
      color: $dark;
    }
  }

  span {
    transition: 0.5s all;
    transition-delay: 0.25s;
  }
  .magnet-content {
    gap: 10px;
    display: flex;
  }
  .magnet-bubble {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    z-index: 0;
    width: 2%;
    transform: translate(-50%, -50%);
    background: $theme-1;
    border-radius: 50%;
    opacity: 0;

    &:after {
      content: "";
      padding-top: 100%;
    }
  }
  &.theme-btn-with-bg {
    &:hover {
      border: 1px solid #c5c6c7;
    }
    .magnet-bubble {
      background: $gray;
    }
  }
}
