/* --------------------------------------------
  Footer
 ---------------------------------------------- */
.footer {
  .footer-title {
    font-size: 80px;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    gap: 10px;
    @include breakpoint(max-xs) {
      font-size: 40px;
    }
    span span {
      font-weight: 300;
    }
    i {
      font-size: 60px;
      margin-top: 20px;
      @include breakpoint(max-xs) {
        font-size: 40px;
      }
    }
  }
  .footer-email {
    @include flex(center, start);
    gap: 20px;
    background-color: $white;
    padding: 30px 40px;
    border-right: 5px solid $theme-1;
    margin-top: 28px;
    .dark-bg & {
      background-color: $black;
    }
    @include breakpoint(max-xs) {
      padding: 20px;
      gap: 10px;
      h3 {
        font-size: 20px;
      }
    }
    i {
      @include flex();
      height: 40px;
      width: 40px;
      background-color: $theme-1;
      border-radius: 50%;
      .dark-bg & {
        color: $black;
      }
    }
  }
}

.footer-menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  a {
    padding: 5px 20px;
    border: 1px solid $gray-3;
    border-radius: 43px;
    display: inline-block;
    @include transition;
    &:hover {
      background-color: $theme-1;
      border: 1px solid $theme-1;
      .dark-bg & {
        color: $black;
      }
    }
  }
}

.copyright-menus {
  display: flex;
  gap: 33px;
  @include breakpoint(max-xs) {
    gap: 20px;
  }

  @include breakpoint(max-xs) {
    flex-direction: column;
    gap: 5px;
  }
  a {
    @include transition;
    &:hover {
      color: $dark;
      .dark-bg & {
        color: $theme-1;
      }
    }
  }
}

.footer-2 {
  background-color: $dark-3;
  color: $white;
  position: relative;
  z-index: 3;
  .social {
    a {
      background-color: transparent;
      border: 1px solid $gray-4;
      .dark-bg & {
        background-color: $black;
      }
      &:hover {
        background-color: rgbaGenerate($white, 10%);
        border: 1px solid rgbaGenerate($white, 10%);
      }
    }
  }
  .footer-2-contact {
    @include flex(center, start);
    gap: 20px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    i {
      @include flex;
      height: 40px;
      width: 40px;
      font-size: 16px;
      background-color: $theme-2;
      color: $dark;
      border-radius: 50%;
    }
    p {
      margin-top: 5px;
    }
  }
}

.footer-form {
  padding: 40px;
  border: 2px solid rgbaGenerate($white, 10%);
  border-radius: 5px;
  h2 {
    font-size: 35px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  input,
  textarea {
    width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid rgbaGenerate($white, 10%);
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
  }
  button {
    width: 100%;
    justify-content: center;
    color: inherit;
  }
}

.copyright {
  border-top: 1px solid rgbaGenerate($white, 10%);
  padding: 30px 0;
  color: rgbaGenerate($white, 70%);
  a {
    &:hover {
      color: $theme-2;
    }
  }
}

.default-footer {
  .footer-2-contact {
    i {
      background-color: $theme-1;
    }
  }
  .footer-form button {
    color: $black;
    &:hover {
      color: $theme-1;
    }
  }
}
