/* --------------------------------------------
  Resume
 ---------------------------------------------- */
.resume-btns {
  @include flex;
  gap: 20px;
  margin-top: 60px;
  @include breakpoint(max-md) {
    gap: 15px;
    flex-wrap: wrap;
  }
  a {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: $gray;
    @include transition;
    display: inline-block;
    &:hover,
    &.active {
      background-color: $theme-2;
      color: $white;
    }
    @include breakpoint(max-lg) {
      padding: 10px 20px;
    }
  }
}
